
.navbar{
    background-color: rgb(32, 178, 170);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navbar h2{
    color: rgb(248, 204, 81);
}

.logo-div a{
    color: rgba(114, 52, 34, 0.863);
    text-decoration: none;
}

.searchbar-div input{
    padding: 0.4rem;
    border:none;
    border-radius: 1rem;
    color:rgb(32, 178, 170);
    width: 15rem;
}
.navbar-list{
    list-style-type: none;
}
.navbar-list-item{
    display: inline-block;
    padding: 0.2rem 1rem;

}
.navbar-list-item a{
    text-decoration: none;   
    color: rgb(222, 247, 245);  
    font-size: 1.15rem;  
}

.quantity{
    position: absolute;
    top: 10px;
    width: 20px;
    border-radius: 2rem;
    background-color: red;
    font-size: 1rem;
}